{% comment %}
  Renders social icons.
  Accepts:
  - class: {String} a class to be added to the <ul> element (optional).

  Usage:
  {% render 'social-icons',
    class: 'my-class'
  %}
{% endcomment %}

{%- comment -%}
  Set language-specific social media links
  First check for Finnish links if current language is Finnish, otherwise use default
{%- endcomment -%}
{%- liquid
  assign current_language = localization.language.iso_code
  
  if current_language == 'fi'
    assign facebook_link = settings.social_facebook_link_fi | default: settings.social_facebook_link
    assign instagram_link = settings.social_instagram_link_fi | default: settings.social_instagram_link
    assign youtube_link = settings.social_youtube_link_fi | default: settings.social_youtube_link
    assign tiktok_link = settings.social_tiktok_link_fi | default: settings.social_tiktok_link
    assign twitter_link = settings.social_twitter_link_fi | default: settings.social_twitter_link
    assign pinterest_link = settings.social_pinterest_link_fi | default: settings.social_pinterest_link
    assign snapchat_link = settings.social_snapchat_link_fi | default: settings.social_snapchat_link
    assign tumblr_link = settings.social_tumblr_link_fi | default: settings.social_tumblr_link
    assign vimeo_link = settings.social_vimeo_link_fi | default: settings.social_vimeo_link
  else
    assign facebook_link = settings.social_facebook_link
    assign instagram_link = settings.social_instagram_link
    assign youtube_link = settings.social_youtube_link
    assign tiktok_link = settings.social_tiktok_link
    assign twitter_link = settings.social_twitter_link
    assign pinterest_link = settings.social_pinterest_link
    assign snapchat_link = settings.social_snapchat_link
    assign tumblr_link = settings.social_tumblr_link
    assign vimeo_link = settings.social_vimeo_link
  endif
-%}

<ul class="list-unstyled list-social{% if class %} {{ class}}{% endif %}" role="list">
  {%- if facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ facebook_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-facebook.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ instagram_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-instagram.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ youtube_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-youtube.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ tiktok_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tiktok.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ twitter_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-twitter.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if pinterest_link != blank -%}
    <li class="list-social__item">
      <a href="{{ pinterest_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-pinterest.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ snapchat_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-snapchat.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ tumblr_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-tumblr.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ vimeo_link }}" class="link list-social__link">
        <span class="svg-wrapper">
          {{- 'icon-vimeo.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
