{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

.contact-form-wrapper {
  padding-bottom:50px;
}
  
.contact-form-wrapper {

.contact.page-width {
    max-width: 600px;
    padding: 30px;
    background: #EBE6FF;
    border-radius: 20px;
}

.field__input:focus, .field__input:not(:placeholder-shown), .field__input:-webkit-autofill, .customer .field input:focus, .customer .field input:not(:placeholder-shown), .customer .field input:-webkit-autofill {
    padding: 15px !important;
    color: #330073;
}

.field__input {
    background: transparent;
}

.field__input::placeholder {
    color: var(--color-primary);
}

.field__label, .customer .field label {
    display: none !important;
}

.field__input::placeholder {
    opacity : 1;
}

h2.title {
    text-align:center;
    color: var(--color-primary);
    font-family: Acumin Pro Condensed;
}


.field input,
.text-area {
  border:1px solid #330073;
    border-radius:5px;
}

.field:after,
.field__input:focus,
.field__input:focus-visible {
    box-shadow: none !important;
}

.contact__button button {
    color: #fff !important;
    background: #330073;
    font-family: 'Acumin Pro Condensed';
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
}

.contact__button {
    display: flex;
    justify-content: center;
}
}

{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="contact page-width page-width--narrow section-{{ section.id }}-padding">
    {%- if section.settings.heading != blank -%}
      <h2 class="title title-wrapper--no-top-margin inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
        {{ section.settings.heading }}
      </h2>
    {%- else -%}
      <h2 class="visually-hidden">{{ 'templates.contact.form.title' | t }}</h2>
    {%- endif -%}
    {%- liquid
      assign contact_form_class = 'isolate contact-form-modern'
      if settings.animations_reveal_on_scroll
        assign contact_form_class = 'isolate contact-form-modern scroll-trigger animate--slide-in'
      endif
    -%}
    {%- form 'contact', id: 'ContactForm', class: contact_form_class -%}
      {%- if form.posted_successfully? -%}
        <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
          {{- 'icon-success.svg' | inline_asset_content -}}
          {{ 'templates.contact.form.post_success' | t }}
        </h2>
      {%- elsif form.errors -%}
        <div class="form__message">
          <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
            {{- 'icon-error.svg' | inline_asset_content -}}
            {{ 'templates.contact.form.error_heading' | t }}
          </h2>
        </div>
        <ul class="form-status-list caption-large" role="list">
          <li>
            <a href="#ContactForm-email" class="link">
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </a>
          </li>
        </ul>
      {%- endif -%}
      
      <div class="contact__fields">
        <div class="field">
          <label class="field__label" for="ContactForm-company">Company Name</label>
          <input
            class="field__input"
            type="text"
            id="ContactForm-company"
            name="contact[Company Name]"
            placeholder="Company Name"
            value=""
          >
        </div>
        <div class="field">
          <label class="field__label" for="ContactForm-name">Contact Name</label>
          <input
            class="field__input"
            type="text"
            id="ContactForm-name"
            name="contact[Contact Name]"
            placeholder="Contact Name"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          >
        </div>
      </div>

      <div class="field field--with-error">
        <label class="field__label" for="ContactForm-email">Email <span aria-hidden="true">*</span></label>
        <input
          class="field__input"
          type="email"
          id="ContactForm-email"
          name="contact[email]"
          placeholder="Email"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          spellcheck="false"
          autocapitalize="off"
          autocomplete="email"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
        >
        {%- if form.errors contains 'email' -%}
          <small class="contact__field-error" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">
              <span class="svg-wrapper">{{ 'icon-error.svg' | inline_asset_content }}</span>
              {{ form.errors.translated_fields.email | capitalize }}
              {{ form.errors.messages.email }}
            </span>
          </small>
        {%- endif -%}
      </div>

      <div class="field">
        <label class="field__label" for="ContactForm-body">Message</label>
        <textarea
          class="text-area field__input"
          id="ContactForm-body"
          name="contact[Message]"
          rows="8"
          placeholder="Your message here"
        >{{ form.body }}</textarea>
      </div>

      <div class="contact__button">
        <button type="submit" class="button">Send Message</button>
      </div>
    {%- endform -%}
  </div>
</div>

{% schema %}
{
  "name": "Contact Form",
  "tag": "section",
  "class": "section contact-form-wrapper",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Contact Us",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        { "value": "h2", "label": "Small" },
        { "value": "h1", "label": "Medium" },
        { "value": "h0", "label": "Large" },
        { "value": "hxl", "label": "Extra Large" },
        { "value": "hxxl", "label": "Huge" }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
