<section class="powder-product {{ section.settings.font_size }}">
<div class="page-width">
  <div class="cookie-wrap">
    <h2 class="{{ section.settings.font_size }}">{{ section.settings.heading }}</h2>
    

    {% assign product = all_products[section.settings.product_handle] %}

{% if product and product.images.size > 0 %}
  <div class="cookie-gallery">
    <div class="main-image-container"> 
      
      <img
        id="main-cookie-image"
        src="{{ product.featured_image | image_url: width: 600 }}"
        alt="{{ product.title }}"
      >
       <div class="thumbnail-grid">
      {% for image in product.images %}
        <div class="thumb" data-img="{{ image | image_url: width: 600 }}">
          <img src="{{ image | image_url: width: 150 }}" alt="Thumbnail {{ forloop.index }}">
        </div>
      {% endfor %}
    </div>
    </div>
   <div class="content-info">
       <p class="cookie-desc">{{ section.settings.description }}</p>
       <h3>{{ section.settings.pro-tit }}</h3>
       <div class="btm-cnt">{{ section.settings.description-btm }}</div>
     <div class="lst-row">
     {% if product.price %}
            <p class="price">{{ product.price | money }}</p>
          {% endif %}

         {% comment %} <form method="post" action="/cart/add">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <button type="submit" class="btn">{% render 'cart-icon' %} Add to Cart</button>
          </form>
         {% endcomment %}
         <a href="{{ section.settings.product_url }}" class="btn">{% render 'cart-icon' %} Add to Cart</a>
   </div>
   </div>
  </div>
{% else %}
  <p>No product found or no images available. Please check the selected collection.</p>
{% endif %}
  </div>
  </div>
</section> 



{% schema %}
{
  "name": "Powders Product Slider",
  "class":"powder-prd",
  "settings": [
    { "type": "text", "id": "heading", "label": "Heading", "default": "Build Your Cookie Box" },
    { "type": "text", "id": "pro-tit", "label": "Product Title" },
    { "type": "textarea", "id": "description", "label": "Description", "default": "Custom box | Save up to 10%" },
    { "type": "textarea", "id": "description-btm", "label": "Description Bottom", "default": "Fully customized..." },
    {"type": "product","id": "product_handle","label": "Select Product"},
    {"type": "url","id": "product_url","label": "Product Url"},
    {
      "type": "select",
      "id": "font_size",
      "label": "Font Size",
      "options": [
        { "value": "font-size-sm", "label": "Small" },
        { "value": "font-size-md", "label": "Medium" },
        { "value": "font-size-lg", "label": "Large" }
      ],
      "default": "font-size-md"
    }
  ],
  "presets": [
    {
      "name": "Powders Slider",
      "category": "Homepage"
    }
  ]
}
{% endschema %}